* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1300px;
    font-family: 'Segoe UI';
    overflow-y: hidden;
    background-color: #ffffff;
}

header {
    position: relative;
    display: flex;
    background-color: #3B404C;
    color: #ffffff;
    padding: 20px;
    justify-content: center;
}

header img {
    width: 55px;
    height: 55px;
}

header h1 {
    margin-top: -8px;
    font-size: 50px;
    font-weight: 350;
}

.main {
    padding: 20px 20px 20px 20px;
    height: calc(100vh - 204px);
}

.main .upper{
    display: flex;
    margin: 40px 0 30px 0;
}

h2 {
    color: #3B404C;
    font-size: 25px;
    font-weight: 500;
}

.main .upper .badge {
    display: flex;
    font-size: 20px;
    color: #ffffff;
    background-color: #3B404C;
    height: 28px;
    align-items: center;
    padding: 2px 10px;
    border-radius: 40px;
    margin: 5px 0 0 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main .upper .badge:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.main .lower .workspace {
    padding: 40px 30px;
}

.main .lower .workspace ul {
    list-style-type: none;
    top: 25px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.main .lower .workspace ul li{
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
}

.main .lower .workspace li p {
    background-color: #3B404C;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main .lower .workspace li p:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.main .lower .workspace li button img{
    width: 60%;
}

.main .lower .workspace li button{
    background-color: #ffffff;
    border: 1px solid #3B404C;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main .lower .workspace li button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.main .lower .workspace li button:focus {
    outline: none;
}

.main .lower .workspace li button:hover {
    background-color: rgb(235, 235, 235);
}

footer {
    position: relative;
    display: flex;
    background-color: #3B404C;
    color: #ffffff;
    height: 105px;  
    justify-content: center;
}

footer a {
    display: flex;
    margin: auto 20px;
    background-color: #ffffff;
    color: #3B404C;
    width: 300px;
    height: 65px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

footer a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

footer .second img {
    width: 40px;
    height: 35px;
    margin-right: 20px;
}

footer .second #firstText {
    font-weight: 500 !important;
}

footer .second #secondText {
    font-size: 16px !important;
    position: relative;
    top: -5px;
    margin-left: 30px;
    font-weight: 400 !important;
}

@media only screen and (max-width: 876px) {
    footer a {
        height: 50px;
        width: 200px;
        font-size: 16px;
    }
    footer .second img {
        margin-right: 5px;
        width: 35px;
        height: 30px;
    }
}

/*error message */
#emptyWorkspace {
    text-align: center;
    font-size: 16px;
    color: red;
}

/* me */

.developer p {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    top: 78%;
    left: 50%;
    transform: translate(-50%);
    font-size: large;
    font-weight: 600;
    font-size: 20px;
    color: #3B404C;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.developer p span:hover {
    cursor: pointer;
}